<h2 class="mb-3">View User - {{user?.userName}}</h2>
<dl class="row">
  <dt class="col-md-2">Username</dt>
  <dd class="col-md-10">{{user?.userName}}</dd>
  <dt class="col-md-2">First Name</dt>
  <dd class="col-md-10">{{user?.firstName}}</dd>
  <dt class="col-md-2">Last Name</dt>
  <dd class="col-md-10">{{user?.lastName}}</dd>
  <dt class="col-md-2">Email</dt>
  <dd class="col-md-10">{{user?.email}}</dd>
  <dt class="col-md-2">Phone</dt>
  <dd class="col-md-10">{{user?.phone}}</dd>
  <dt class="col-md-2">Address</dt>
  <dd class="col-md-10">{{user?.address}}</dd>
</dl>
<button type="button" class="btn btn-info" [routerLink]="['../../edit', user?.userName]">Edit User</button>
<button type="button" class="btn btn-secondary ml-3" routerLink="../../">Back</button>